.jsContainerOuter {
    background: none repeat scroll 0% 0% #FFF;
    margin: 25px 25px 15px;
    width: 97%;
    float: left;
}
#tbl-entry { width: 100%; float: left;}
#tbl-entry thead tr th {
    height: 20px;
    background-color: #FBFBFB;
    padding: 20px 10px 10px;
    border-width: 1px 1px 2px;
    border-style: solid;
    border-color: #E4E4E4 #E4E4E4 #01C0C8;
    color: #666;
    font-weight: 500;
}
#tbl-entry tbody {
    border-bottom: 2px solid #01C0C8;
    color: #797979;
}
#tbl-entry tbody td {
    padding: 10px;
    border-left: 1px solid #E4E4E4;
    border-right: 1px solid #E4E4E4;
}
#tbl-entry tbody tr td input {
    width: 100% !important;
    float: left;
    outline: none;
}

.form-horizontal .form-group {
    margin-left: 0px !important;
}
/* tooltip */
.tooltip {
    position: relative;
    display: inline-block;
    z-index: 0 !important;
    opacity: 1 !important;
}
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    font-size-adjust: none;
    font-stretch: normal;
    -moz-font-feature-settings: normal;
    -moz-font-language-override: normal;
    font-size: inherit;
    text-rendering: auto;
}
/* button */
.btn-default.btn-outline {
    background-color: #FFF;
}
.btn-default, .btn-default.disabled {
    background: none repeat scroll 0% 0% #E4E7EA;
    border: 1px solid #E4E7EA;
}
.btn-info, .btn-info.disabled {
    background: none repeat scroll 0% 0% #03A9F3;
    border: 1px solid #03A9F3;
}
.m-t-10 {
    margin-top: 10px !important;
}
.btn-info { color: #FFF; }
/*select2*/
.select2-chosen:focus { color: #333 !important; }
.select2 {width:100%;border:none;}
.select2-container .select2-choice {
    background-image: none !important;
    border: medium none !important;
    height: auto !important;
    padding: 0px !important;
    line-height: 22px !important;
    background-color: transparent !important;
    box-shadow: none !important;
}
.select2-container .select2-choice .select2-arrow {
    border-left: none !important;
    background: none !important;
}
.select2-drop-active { border: none !important;}
